@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,300;1,400&display=swap');

*{
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
	list-style: none;
	font-family: 'Nunito', sans-serif;
}

body{
	background-color: #6565e7;
	color: white;
}

a{
	color: white;
}

.wrapper{
	display: flex;
	max-width: 1080px;
	width: 100%;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.wrapper .left,
.wrapper .right{
	width: 50%;
	padding: 30px;
}

.wrapper .right{
	position: absolute;
	left: 600px;
	top: -180px;
}

.wrapper .right h4{
	text-align: center;
	margin-bottom: 20px;
	font-weight: bold;
}

.wrapper .left h1{
	position: absolute;
	width: 737px;
	height: 56px;
	left: -240px;
	top: 480px;
}

.wrapper .left p{
	position: absolute;
	width: 737px;
	height: 38px;
	left: -240px;
	top: 530px;
	font-size: 25px;
	line-height: 37px;
}

.wrapper .left img{

	position: absolute;
	width: 737px;
	height: 800px;
	left: -300px;
	top: -180px;
	border-radius: 29px;
}

.wrapper .right .forms p{
	margin: 50px 0 40px 0;
}

.wrapper .right .forms ul{
	background: #6585e7;
	border-radius: 33px;
	width: max-content;
}

.wrapper .right .forms ul li{
	display: inline-block;
	margin: 5px;
	padding: 5px 30px;
	cursor: pointer;
	background: #6585e7;
	border-radius: 33px;
}

.wrapper .right .forms ul li.active{
	background: #153184;
	border-radius: 33px;
}

.wrapper .right .register,
.wrapper .right .login{
	margin-top: 20px;
}

.wrapper .right .input_field{
	margin-bottom: 20px;
}

.wrapper .right .input_field p{
	margin-bottom: 15px;
	font-weight: bold;
}

.wrapper .right .input_field .input{
	width: 100%;
	padding: 10px 15px;
	border: 2px solid #153184;
	box-sizing: border-box;
	border-radius: 40px;
}

.wrapper .right .input_field .toggle{
	position: absolute;
	right: 50px;
	bottom: 125px;
}

.wrapper .right button{
	margin-top: 20px;
	background:  #153184;
	border-radius: 36px;
	padding: 10px;
	float: right;
	text-align: center;
	width: 202px;
	color: white;
	font-size: 16px;
}	
